{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div slass="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row py-5">
      <div class="col-md-12 text-center">
        <p>Just like you, we love dogs and want the very best for every one of them!
        Thanks to our amazing supporters, we can carry out the following work, to help improve the welfare of dogs all across Ireland.</p>
      </div>
    </div>
  </div>
{% endblock %}