{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}
<section class="h-100">
    <div class="container content-container">
        <div class="col-12">
            <div class="card rounded-3 mb-4">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <hr>
                            <h2 class="logo-font mb-4">My Porfile</h2>
                            <hr>
                        </div>
                    </div>
                    <div class="col">
                        <div class="table-responsive rounded"></div>
                        <a href="{% url 'review_bag' %}" class="btn btn-outline-black rounded-0 btn-lg">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Adjust Bag</span>
                        </a>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</section>
{% endblock %}
