{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="container content-container">
    <div class="col-12">
        <div class="card rounded-3 mb-4">
            <div class="container mb-5">
                <div class="row">
                    <div class="col">
                        <hr>
                        <h2 class="logo-font mb-4">Thank You from High Paw Support Us More!</h2>
                        <hr>
                        <p class="text-black">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-12 col-lg-7"></div>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="{% url 'home' %}" class="btn btn-outline-black rounded-0 btn-lg">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Back to Home Page</span>
                        </a>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>
{% endblock %}