{% extends 'base.html' %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<section class="h-100">
    
    <div class="container content-container">
      
        <div class="col-12">
            <div class="card rounded-3 mb-4">
                <div class="card-body p-4">
                    
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h3 class="fw-normal mb-0 text-black">Checkout</h3>
                    </div>

                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <div class="col">
                            <div class="table-responsive rounded"></div>
                            <a href="{% url 'review_bag' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Back to Shopping Bag</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card rounded-3 mb-4">
                <div class="card-body p-4">
                    <div class="row d-flex justify-content-between align-items-center">
                        <h3>Order Summary</h3>
                        <hr>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="d-flex mb-2">
                                        <div class="flex-shrink-0 p-2">
                                            <img src="#" alt="" width="35" class="img-fluid">
                                        </div>
                                        <div class="flex-lg-grow-1 ms-3">
                                            <h6 class="small mb-0">Support Dog 1</h6>
                                        </div>
                                        </div>
                                    </td>
                                    <td>1</td>
                                    <td class="text-end">79.99</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr class="fw-bold">
                                    <td colspan="2">TOTAL</td>
                                    <td class="text-end">169,98</td>
                                </tr>
                            </tfoot>
                        </table>	
                    </div>
                </div>
            </div>
			
            <div class="card" id="payment-info">
                <div class="card-body">
                    <a href="{% url 'review_checkout' %}" class="btn btn-warning btn-block btn-lg" role="button">Payment Options</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}