@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet');

html,
body,
header {
  height: 100%;
  font-family: 'Raleway', sans-serif !important;
}

header,
nav ul {
  margin-top: 30px;
  margin-bottom: 120px;
}


@media (max-width: 740px) {
  html,
  body,
  header {
    height: 100vh;
  }
  
}

.top-nav-collapse {
  background-color: #635147 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #635147 !important;
  }
}

h1 {
  letter-spacing: 8px;
  color: #F5F5DC;
}

h5 {
  letter-spacing: 3px;
  color:#F5F5DC;

}

.hr-light {
  border-top: 2px solid #fff;
  width: 300px;
}

.card{
  margin: 5% 0%;
}

.card-body{
  margin: 0% 0% 0% 3%;
  padding: 6% 0%;
}

.card-img-top {
  background-color: #635147 !important;
  width: 100%;
  height: 15vh;
  object-fit: cover;
}

.card-title {
  color: black !important;
}