@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet');


body {

  font-family: 'Raleway', sans-serif !important;
  background-image: url('../static/media/dog-paw-human-hand.jpg'); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: 20% 30%;

}

.content-container {
  margin-top: 200px;
}

.card{
  margin: 5% 0%;
}

.card-body {
  margin: 0% 0% 0% 3%;
  padding: 6% 6%;
}

.card-img-top {
  width: 100%;
  height: 55vh;
  object-fit: cover;
}

.top-nav-collapse {
  background-color: #635147 !important;
}


.navbar {
    background-color: #635147 !important;
}


h1 {
  letter-spacing: 8px;
  color: #F5F5DC;
}

h5 {
  letter-spacing: 3px;
  color:#F5F5DC;

}

.hr-light {
  border-top: 2px solid #fff;
  width: 300px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* Bootstrap toasts */
.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999999;
  padding: 10px;
}

.custom-toast {
  overflow: visible;
  width: 20rem;
  border: 2px solid  #635147;
}

.toast-capper {
  height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 4px solid transparent;
  border-right: 4px solid transparent; 
  border-bottom: 10px solid black;
  position: absolute;
  top: -10px;
  right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
  border-bottom-color: #007bff !important;
}

.arrow-secondary {
  border-bottom-color: #6c757d !important;
}

.arrow-success {
  border-bottom-color: #28a745 !important;
}

.arrow-danger {
  border-bottom-color: #dc3545 !important;
}

.arrow-warning {
  border-bottom-color: #ffc107 !important;
}

.arrow-info {
  border-bottom-color: #17a2b8 !important;
}

.arrow-light {
  border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
  border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
  height: 120px;
  overflow-x: hidden;
  overflow-y: auto;
  border-bottom: 2px solid  #635147;
}

