{% extends "base.html" %}
{% load static %}


{% block page_header %}

{% endblock %}

{% block content %}
    <div class="container-fluid content-container">
        <div class="row">
            {% for product in products %} 
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        {% if product.image %}      
                            <img class="img-fluid rounded card-img-top" src="{{ product.image.url }}" alt="{{ product.description }}">
                        {% else %}
                            <img class="img-fluid rounded card-img-top" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ product.description }}">
                        {% endif %}
                        <h5 class="card-title text-uppercase text-dark">{{product.name}}</h5>
                        <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-12">
                                    <a class="btn btn-warning btn-lg" href="{% url 'product_detail' product.id %}">View</a>
                                </div>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </div>
                        </form>
                    </div>
                    {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                        </small>
                    {% endif %}
                </div>
            </div>
           {% endfor %}
        </div>
    </div>
{% endblock %}